

@media (max-width:450px) {
    
}
*  {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#container{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: minmax(100px auto);
background-color: #d9deeb;
grid-gap: 100px;
}

#bar
    {width: 100%;
    display: flex;
    grid-column: 1;
    height: 60px;
    position: fixed;
    background-color: #FFF;
    box-shadow: 0px 0.1px 1px black;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}
#about{
    box-shadow: 0px 0.5px 1px black;
    border-radius: 5px ;
    background-image: url("photos/informback.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #fff;
    grid-column: 1;
    background-color: antiquewhite;
    height: 73%;
    width: 73%;
    justify-self: center;
    text-align: left;
    padding: 30px 10px;
    box-sizing: border-box;
    margin-top: 100px;

}

#aboutphoto{
margin-bottom: 20px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
#aboutword{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 11px;
}

#main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    background-color: #dbdeff;
    justify-content: center;
    width: 100%;
    
}
#button{
    grid-row: 1;
    display: flex;
    justify-content:space-around;
    padding: 20px 20px 20px 10px;
}
#botton1,#botton2,#botton3{
    border-radius: 8px;
    background-color: rgb(86, 27, 196);
    padding: 0px 10px;
    color: #FFF;
    font-size: 13px;
}
input{
    display: none;
}



#skillsection{

    grid-row: 2;
    height: 200px;
    background-color: #dbdeff;
}











#footer{
    display: grid;
    padding:10px;
    width:100%;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    background-color: rgb(64, 61, 58);
    grid-template-columns: 1fr 1fr;
    color: #FFF;
}
#footercontact{
    padding: 10px;
    grid-column: 1;
    box-sizing: border-box;
    text-align: center;
}
#footerinform{
    text-align: left;
    padding: 10px;
    grid-column:2;
    box-sizing: border-box;
    
}
