@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{padding: 0;
box-sizing: border-box;
font-family: "Montserrat", sans-serif;
}

#bar{
    position: fixed;
    top: 0%;
    bottom:90%;
    width: 100%;
    z-index: 100;
    display: flex;
    border-radius: 5px;
    
    justify-content: center;
    background-color:rgb(57, 62, 63);
    box-shadow:0px 1px 3px rgba(3, 3, 3, 0.376);
    padding:0px;
    padding-bottom: 0;
    margin: 0%;
    }
    
.barintro{

    color: white;
    text-decoration: none;
    
    font-size: 15px;
    margin: 7px 0px 0px 0px;
    padding: 10px 20px;
    display: block;
    /* font-weight: bold; */
    
    
}

.barintro:hover{
 color: #fff;
 background-color: #ffffff79;
 border-radius: 40px;
}
#myname{
  
    
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%; 
    font-size: 40px;
    font-family: "Times New Roman";
    color: aliceblue;
   
}
#about{

    width: 70%;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0%; 
    margin-left: 180px;
    font-size: 20px;
    /* font-family: "Calibri"; */
    color: aliceblue

}

#introphoto{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
  
}
#hash{
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin-top: 60px;
    margin-bottom: 0%; 
    font-family: "Calibri";
    color: aliceblue

}
.intro{ 
    background-image: url("photos/informback.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: block;
    box-shadow:0px 2px 2px rgb(3, 3, 3);
    margin-bottom: 0%; 
    padding-bottom: 90px; 
}
#body{
 margin: 0px;
 
}

/*professions*/









#major{
background-color: #ffffff45;
margin-top: 0%;
padding-top: 0%;
}

#pro{
    
    text-align: center;
    color: rgb(16, 4, 4);
    font-size: 30px;
    font-style: italic;
    margin:70px 0 10px ;

   }

/*nooooo*/
#prtitle ,#unitytitle, #pstitle
{
    background-color: rgba(252, 185, 29, 0.887);
    box-shadow:0px 2px 3px rgba(3, 3, 3, 0.376);
    color: #fff;
    font-size : 20px;
    border-radius: 40px;
    font-family:"Helvetica";
    padding: 6%;
    text-align: center;
}
#threedtitle{
    background-color: rgba(252, 185, 29, 0.887);
    box-shadow:0px 2px 3px rgba(3, 3, 3, 0.376);
    color: #fff;
    font-size : 20px;
    border-radius: 40px;
    font-family:"Helvetica";
    padding: 9px;
    text-align: center;

}

#unitytitle{
    background: linear-gradient(to right, #150101, rgb(60, 50, 86) );
        
}
#prtitle{
background: linear-gradient(to right, #9858ff, rgb(66, 72, 250));
            
}
 #pstitle{
 background: linear-gradient(to right, #0fbbe6, rgb(204, 224, 18));
                
}
            

/*nooooo*/
     
.Professions{
   
width: 100%;
justify-content: space-between;
display: flex;
margin-bottom: 0px;
padding-right: 100px;
padding-left: 50px;


}

.Professions div{
    
   text-align:center;
    width: 100%;
    padding: 5px;
font-size: 14px;
font-weight: bold;
font-family:"Arial"
}


#unitytitleid
{
    margin-top: 11px;
    margin-left: 10px;
}
#unitydes
{text-align: center;
 margin-top: 31px;
    margin-left: 15px;

}


#threedes{
margin-top: 13px;
}

#prdes{
    
    width:100%;
    
}


#psdes{

    margin-left: 13px;
    text-align: center;
}


#ps{
     position:left;
     }


     /*Soft*/
 #softtitle
 {  
        margin: 0px 0 0 0;
        text-align: center;
        font-size: 30px;
    font-style: italic;
        margin-bottom: 20px;
}

#skillback{
    
    margin-bottom: 140px;
    position:absolute;
    z-index: -1;
    
    }
.softskills{
    
    position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        
        margin-bottom: 15px;
        
     }
     
.box{
background-color: #ffffff;
border:1px solid #c1c4c5ac;
border-radius: 20px;
box-shadow:1px 3px 1px rgba(3, 3, 3, 0.376);
padding: 10px 10px 5px;
margin-right: 0px;
margin-left: 180px;
z-index: 1;
}


.circle{ 
    background-color: rgb(250, 70, 70);
    box-shadow: inset 2px 2px 1px rgba(3, 3, 3, 0.376);
    font-family:"Verdana";
    font-weight: bold;
    font-size : 20px;
    color: #eff4ef;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.circlep{

text-align: center;
display: block;
font-family:"Calibri"; 
}

.a2{
    background-color: #ffffff;
    border:1px solid #c1c4c5ac;
    border-radius: 20px;
    box-shadow:1px 3px 1px rgba(3, 3, 3, 0.376);
    padding: 10px 20px 5px;
    margin-left: 0px;
    margin-right: 200px;
    }

.a4{

    text-align: center;
    display: block;
    font-family:"Calibri"; 
    }
        
.a3{ 
    background-color: rgb(250, 70, 70);
    box-shadow: inset 2px 2px 1px rgba(3, 3, 3, 0.376);
    font-family:"Verdana";
    font-size : 20px;
    color: #eff4ef;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
            
}
.gopro{

    font-size: 30px;
    font-family:'Franklin Gothic Medium';

}
#mayaimg:hover{
    transform: scale(1.3);
    z-index: 2;
    border: 0px;
}

.gopro:hover{
    color: #e52d2d;
    transform:scale(1.7)
}
a{
    text-decoration: none;
    
}

#certitle{
    text-align: center;
    color: fff;
    font-size:30px;
    font-style: italic;
    padding: 70px 0px 0px 0px ;
    margin-bottom: 20px;

   }

#certifiarea {

    
   
padding-bottom: 50px;
margin-bottom: -10px;

}
#certifibox{

        text-align: center; 
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding:0 200px;

}
#mayabox ,#mixcraftbox {
    color: #23090d;

    background-color: #ffffff;
    border:1px solid #c1c4c5ac;
    box-shadow: inset 1px 2px 2px rgba(3, 3, 3, 0.376);
    font-family:Arial;
    font-size : 20px;
    

    border-radius:5%;
    padding: 30px 10px 0px 10px;
    
}
#mayaimg{
    border: 1px solid #afb1b2c4;
    padding: 2px;
    border-radius: 5px;
    
}
#porfoliotitle{

    text-align: center;
    color: #fff;
    font-size: 30px;
    font-style: italic;
    padding-top: 50px;
    margin-bottom: 55px;

}
#portfolioarea{
    box-shadow: 0px 2px 1px rgba(15, 10, 15, 0.391);
    background-color:#0e6474;
    border-radius: 10px 10px 0px 0px; 
   
    padding-bottom: 50px;

}
#portfoliocontent{
    display: grid;
    gap:5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:   1fr ;
    background-color:  #072f3c;
    
    border-radius: 20px;
    box-shadow:  1px 1px 1px rgba(3, 3, 3, 0.376);
    padding-top:0px;
    padding-bottom: 10px;
    margin: 10px 90px 0px 90px;
    height: 100%;
}

.box1 {
    background-color: #072f3c;
    color:  #fff;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    margin-top: -21px;
    font-size: 14px;   
    margin-top:-40px;
}
.f{
    font-size: 12px;
    margin-top: -40px;
   
}

.aa{
    color:  #fff;
    background-color: #072f3c;
    text-align: center;
    font-size:14px;
    grid-column: 1/3;
    
    margin-top:-40px;
    border-radius: 30px 30px 0px 0px;}
    
    #xxx:hover{
        cursor: pointer;
    }
.box1 :hover{
        cursor: pointer;
    }

.b{
    grid-column: 3;
}

    
    



input#bt1:checked~.contentb1 {
    transform: translateX(0%);
}
input#bt2:checked ~.contentb2 {
    transform: translateX(-100%);
}
input#bt3:checked ~.contentb3 {
    transform: translateX(-100%);
}
input#bt4:checked ~.contentb4{
    transform: translateX(-100%);
}input#bt5:checked ~.contentb5
 {
    transform: translateX(-100%);
}input#bt6:checked ~.contentb6 
{
    transform: translateX(-100%);
}

.carousel{
    grid-column:1/8 ;
    grid-row: 2;
    align-items: center;
    width: 100%;
    height: 260px;
    margin-top: -15px;
    overflow: hidden;
    position: relative;
    
}

.contentb1{
    box-shadow: inset 0px 1px 2px rgba(3, 3, 3, 0.708);
    position: absolute;
    background-color: #3a4f4e;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: inherit;
    height: inherit;
    
}

.contentb2{
    box-shadow: inset 0px 1px 2px rgba(3, 3, 3, 0.708);
    position: absolute;
    background-color: #3a4f4e;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    left:100%;
    width:inherit;
    height: inherit;
   
}
.contentb3{
    box-shadow: inset 0px 1px 2px rgba(3, 3, 3, 0.708);
    position: absolute;
    background-color: #3a4f4e;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    left:100%;
    width:inherit;
    height: inherit;
}
#C4scrolling{
    
    display: flex;
    align-items: center;
    justify-content:center;
}
.contentb4{
    
    position: absolute;
    display: flex;
    background-color: #3a4f4e;
    overflow-x: auto;
    
    overflow-y: hidden;
    box-shadow: inset 0px 1px 2px rgba(3, 3, 3, 0.708);
    align-items:center;
    justify-content:left;
    left:100%;
    width:inherit;
    height: inherit;
}
#maxtitle{
box-shadow:  1px 1px 1px rgba(3, 3, 3, 0.708);
border-radius: 20px;
padding: 10px;
background-color: rgb(12, 146, 199); 
}

#thrdmax{
    display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        color: #fff;
}
.maximg{

    border-radius: 10px;
    background-color: rgba(9, 97, 132, 0.699); 
}



#blender{
    display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        color: #fff;

}
#blendertitle{
    box-shadow:  1px 1px 1px rgba(3, 3, 3, 0.708);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(226, 117, 34); 
    }

.belnderimg{

    border-radius: 10px;
    background-color: rgba(132, 77, 9, 0.699); 
    }

    #zbrush{
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        color: #fff;
    
    }


    #zbrushtitle{
        box-shadow:  1px 1px 1px rgba(3, 3, 3, 0.708);
        border-radius: 20px;
        padding: 10px;
        background-color:black; 
        }
    


    .zbrushimg{
    border-radius: 10px;
    background-color: rgba(55, 46, 36, 0.699); 
    color: #fff;
    }
               























#mayatitle{
    box-shadow:  1px 1px 1px rgba(3, 3, 3, 0.708);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(12, 146, 199); 
    }
 #thrdmaya{
    padding-left: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    color: #fff;
 }
 .mayaimg{

    border-radius: 10px;
    background-color: rgba(9, 97, 132, 0.699); 
}















.contentb5{
    box-shadow: inset 0px 1px 2px rgba(3, 3, 3, 0.708);
    position: absolute;
    background-color: #3a4f4e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left:100%;
    width:inherit;
    height: inherit;
}
.contentb6{
    box-shadow: inset 0px 1px 2px rgba(3, 3, 3, 0.708);
    position: absolute;
    background-color: #3a4f4e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left:100%;
    width:inherit;
    height: inherit;
}



.c2img1 , .c2img2 ,.c2img3{
    
align-items: center;
justify-content: center;
text-align:center;
color: #fff;
margin: 0;
padding: 0;}




input[type="radio"] {
    display: none;
}



#footerdiv{
    display: flex;
    justify-content: center;
    align-items:center;
    justify-content: space-evenly;
    box-shadow:0px -3px 1px rgb(14, 13, 14);
    margin: 0;
    padding: 0px 0px 0px 0px;
    background-color: black;
    color: #fff;
    height: 70px;
    width: 100%;
    font-size: 15px;
}


@media (max-width:480px){
    .barintro{
        display: none;
    }
    
    .barintro:hover{
        display: none;
    }
    img{
        max-width: 100%;
        
    }
    #bar{
     display: none;   
    }
        
body{
display: grid;
}


}